.navbar {
  position: relative;

  &__container {
    background-color: #fff;
    box-shadow: 0 3px 6px #0000000f;
    background-image: linear-gradient(to right bottom, #34495e, #2c3e50);
  }
  height: 7rem;
  margin: 0 auto;

  display: grid;
  width: 114rem;

  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  line-height: 7rem;

  &__right1 {
    justify-self: end;
  }
  &__right2 {
    justify-self: end;

    grid-row: 1/2;
    grid-column: 2 / -1;
  }
}

.logo {
  font-size: 1.6rem;
  cursor: pointer;
  justify-self: start;
}
